/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Shadows+Into+Light&family=Ubuntu+Mono&display=swap');

 /* configuraciones globales */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html {
    scroll-behavior: smooth;
}

/* colores, fuentes*/
:root {
  --color-primario-panteon: #B91116;
  --color-primario-panteon-blur: rgba(187, 17, 23, .7);
  --color-primario-panteon-Orange-021-c: #E24622;
  --color-primario-black: #000;
  --color-primario-white: #fff;
  --color-mamalon-de-uaeh: #9D9D9C;
  --color-mamalon-de-uaeh-x2: #511013;
  --fuente-indie: 'Indie Flower', cursive;
  --fuente-lobster: 'Lobster', cursive;
  --fuente-shadows: 'Shadows Into Light', cursive;
  --fuente-ubuntu: 'Ubuntu Mono', monospace;
  --tamano-banner-titulo: 2.5rem;
  --tamano-banner-contenido: 2rem;
  --tamano-articulos-titulo: 2.5rem;
  --tamano-articulos-contenido: 2rem;
}
